body{
    background-color: lightgray
}


.contenedor{
    float: left;
}

.tarjeta{
    background-color: beige;
    border:1px solid red;
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: gray 1px 1px 1px;
    float: left;
    margin: 5px;
    transition: all 500ms ease;



}


.tarjeta:hover{
    width: 350px;
    transform: scale(1.2);
    box-shadow: gray 10px 10px 10px;
    background-color:burlywood;
}